header {
  height: 100vh;
  margin-top: 7rem;
  overflow: hidden;
}

.header_1 {
  white-space: nowrap;
  overflow: hidden;
  /* width: 170px; */
  /* animation: type 2s steps(40, end) forwards; */
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 1px solid orange;
  }
  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*-------- CTA--------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*-------- HEADER --------- */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/*-------- ME --------- */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 26rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 20px;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

.me img {
  width: 100%;
  height: 100%;
}

/*-------- SCROLL DOWN --------- */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 500;
  font-size: 0.9rem;
}

/* MEDIA QUERY (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* MEDIA QUERY (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
